<%# Cakes Header %>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <div class="row center">
      </div>
      <div class="row center">
        <h1 class="header center green-text text-darken-4 main-header">Cakes</h1> 
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax cakes"><img src="http://backgroundcheckall.com/wp-content/uploads/2017/12/cake-background-1.jpg"></div>
</div>

<%# Second Section %>
<div class="container">
  <div class="row">
    <div class="col l12">
      <%# Row 1 %>
      <div class="col s12 m6 l4 row1">
        <div class="card">
          <div class="card-image">
            <img src="https://thestayathomechef.com/wp-content/uploads/2016/06/The-Most-Amazing-Chocolate-Cake-Square-1-320x320.jpg">
          </div>
        <div class="card-content">
          <span class="card-title green-text text-darken-4">Grandaddy Chocolate</span>
          <p>
            25mg THC / 1 Slice – *Vegan and Gluten Free.
          </p>
        </div>
        <div class="card-action">
          <p>$10 ~ Slice</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 row1">
      <div class="card">
        <div class="card-image">
          <img src="https://d1doqjmisr497k.cloudfront.net/-/media/mccormick-us/recipes/mccormick/r/800/red-velvet-cake-with-vanilla-cream-cheese-frosting.ashx?vd=20171018T133916Z&hash=F708519494CA2CFEECD9A9D36D7F6653B424E449">
        </div>
        <div class="card-content">
          <span class="card-title green-text text-darken-4">Red Velvet Purp</span>
          <p>
            25mg THC / 1 Slice – *Vegan and Gluten Free.
          </p>
        </div>
        <div class="card-action">
          <p>$10 ~ Slice</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 row1">
      <div class="card">
        <div class="card-image">
          <img src="http://thecakeblog.com/wp-content/uploads/2015/07/honey_butter_cake_thumb_lg.jpg">
        </div>
        <div class="card-content">
          <span class="card-title green-text text-darken-4">Butter OG</span>
          <p>
            30mg THC / 1 Slice – *Vegan and Gluten Free.
          </p>
        </div>
        <div class="card-action">
          <p>$16 ~ 1 Slice</p>
        </div>
      </div>
    </div>
      <%# Row 2 %>
      <div class="col s12 m6 l4 row2">
        <div class="card">
          <div class="card-image">
            <img src="https://www.browneyedbaker.com/wp-content/uploads/2013/03/coconut-cake-36-754.jpg">
          </div>
          <div class="card-content">
            <span class="card-title green-text text-darken-4">Coconut Kryptonite</span>
            <p>
              30mg THC / 1 Slice – *Vegan and Gluten Free.
            </p>
          </div>
          <div class="card-action">
            <p>$16 ~ 1 Slice</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 row2">
        <div class="card">
          <div class="card-image">
            <img src="https://www.onceuponachef.com/images/2017/12/NY-Cheesecake-575x434.jpg">
          </div>
          <div class="card-content">
            <span class="card-title green-text text-darken-4">Cheese Quake</span>
            <p>
              35mg THC / 1 Slice – *Vegan and Gluten Free.
            </p>
          </div>
          <div class="card-action">
            <p>$20 ~ 1 Slice</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 row2">
        <div class="card">
          <div class="card-image">
            <img src="https://www.bbcgoodfood.com/sites/default/files/recipe_images/recipe-image-legacy-id--363765_11.jpg">
          </div>
          <div class="card-content">
            <span class="card-title green-text text-darken-4">Atomic Marble</span>
            <p>
              35mg THC / 1 Slice – *Vegan and Gluten Free.
            </p>
          </div>
          <div class="card-action">
            <p>$20 ~ 1 Slice</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
