<%# Web Design Parallax %>
<div class="parallax-container valign-wrapper p-overlay">
  <div class="section no-pad-bot p-overlay-width">
    <div class="container center-align">
      <div class="row center">
        <h2>Case Studies</h2>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=811d0eee2d33079d05e78e3e187878e2&auto=format&fit=crop&w=750&q=80"></div>
</div>

<%# Second Section %>
<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <h3 class="center-align">Some of Our Clients Served</h3>
      <div class="row">
        <div class="col s12 m6 client-box">
          <img src="images/clients/client1.png" alt="">
          <img src="images/clients/client2.png" alt="">
        </div>
        <div class="col s12 m6 client-box">
          <img class="client-adj" src="images/clients/client3.png" alt="">
          <img src="images/clients/client4.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 client-box">
          <img class="client-adj" src="images/clients/client5.png" alt="">
          <img class="client-adj" src="images/clients/client6.png" alt="">
        </div>
        <div class="col s12 m6 client-box">
          <img src="images/clients/client7.png" alt="">
          <img src="images/clients/client8.png" alt="">
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h3 class="center-align">"5 Million In Revenue First Year"</h3>
      <p>
        One client with tons of early startup success had their growth stalled only a month after a successful funding round. We did an analysis and realized their website only converted 7 leads per month, their email list was stuck at 12 contacts, and their blog hadn't been updated for 4 months.
      </p>
      <p>
        Within 3 months of Code 25 taking the reins of their inbound channels and optimizing their website, we increased their leads to over 50 per month within 3 months <span class="bold">- that's worth $8,000,000 per quarter in new leads for their sales team.</span> By month 6, the company <span class="bold">generated over 4500 emails</span>, generated over <span class="bold">80 leads per month</span>, and had <span class="bold">multiple articles and blogs ranked #1 on Google.</span> We still consult this client, and they are on pace to double their revenue and hit <span class="bold">$5 million within 12 months.</span> 
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h3 class="center-align">"30 Days, $30 Billion value, 1000 emails"</h3>
      <p>
        We were testing one of our email acquisition and marketing strategies with one of our most loyal clients (A SaaS B2B automation tool for enterprise companies). Using our process of finding common goals between customers and researching C-level execs, we collected <span class="bold">1000 emails within a 30 day campaign</span>, consisting of <span class="bold">170 Fortune 1000 emails</span>. The total value of their email list is <span class="bold">over $30 billion!</span> 
      </p>
    </div>
  </div>


</div>

