<%# Contact %>
<br><br>
<div class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="ytail">Initial Review</h5>
        <p>
          All of our engagements tart with a free initial review of all of your company’s marketing and sales channels along with strategic recommendations. This will help us learn more about your startup and how we can customize the ideal service package to generate results for your startup. In the call, we discuss:
          <br><br>
          <ul id="review-details">
            <li>All directory listings currently used (AngelList, Dribbble, Behance, etc.), and recommendations on how to improve and new directories to pursue</li>
            <li>Your current “internet voice” and brand positioning (for communicating with your target audience via blogs and campaign material)</li>
            <li>Current lead generation channels. We will recommend ways to optimize current channels and new channels to test (meetups, partnerships, enterprise outreach, white labeling, podcasts)</li>
            <li>Setting up interviews with customers to understand what makes your startup unique. This will help build/optimize your brand positioning to communicate with potential customers via cold email and content creation and press release.</li>
            <li>Specific events to attend and the best sales methods to implement at those events.</li>
            <li>How to qualify leads via contact forms</li>
            <li>Specific marketing recommendations for every marketing channel (LinkedIn, Facebook, Twitter, Snapchat, Dribbble, Kickstarter, email outreach, referrals, etc.)</li>
            <li>60, 90, and 120 day marketing plans with heavy focus on ROI</li>
          </ul>
        </p>
        <br><br>
        <form action="/contact" method="POST" class="col l12">
          <div class="input-field col s12">
            <select name="services[]" multiple>
              <option value="" disabled selected>Choose your option</option>
              <option value="lead gen">Lead Gen</option>
              <option value="web development">Web Development & Design</option>
              <option value="content writing">Content Writing</option>
              <option value="not sure">Not Sure</option>
            </select>
            <label>Interested Services</label>
          </div>
          <span>Best Time To Call</span>

          <div class="input-field col s12 calltimes">
            <label>First Choice</label>
            <div class="input-field col s4">
              <select name="fc_hr">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10" selected>10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
            <div class="input-field col s4">
              <select name="fc_min">
                <option value="00" selected>00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
              </select>
            </div>
            <div class="input-field col s4">
              <select name="fc_am_pm">
                <option value="AM" selected>AM</option>
                <option value="PM">PM</option>
              </select>
            </div>
          </div>
          <div class="input-field col s12 calltimes">
            <label>Second Choice</label>
            <div class="input-field col s4">
              <select name="sc_hr">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10" selected>10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
            <div class="input-field col s4">
              <select name="sc_min">
                <option value="00" selected>00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
              </select>
            </div>
            <div class="input-field col s4">
              <select name="sc_am_pm">
                <option value="AM" selected>AM</option>
                <option value="PM">PM</option>
              </select>
            </div>
          </div>
          <div class="input-field col s12">
            <input name="name" id="name" type="text" class="validate" required>
            <label for="name">Name</label>
          </div> 
          <div class="input-field col s12">
            <input name="email" id="email" type="email" class="validate" required>
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <input name="company" id="company" type="text" class="validate" required>
            <label for="name">Company</label>
          </div> 
          <div class="input-field col s12">
            <input name="message" id="message" type="text" class="validate" required>
            <label for="message">Message</label>
          </div>    
          <button class="btn waves-effect waves-light right" type="submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </form> 
      </div>
    </div>
  </div>
</div>
