<%# Cookie Header %>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <div class="row center">
      </div>
      <div class="row center">
        <h1 class="header center green-text text-darken-4 main-header">Cookies</h1> 
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax white"><img src="https://i.pinimg.com/originals/1d/28/0b/1d280b7cda8227b0ba1f00dc92502110.png"></div>
</div>

<%# Second Section %>
<div class="container">
  <div class="row">
    <div class="col l12">
      <%# Row 1 %>
      <div class="col s12 m6 l4 row1">
        <div class="card">
          <div class="card-image">
            <img src="https://www.browneyedbaker.com/wp-content/uploads/2008/06/thick-chewy-chocolate-chip-cookies-21-600.jpg">
          </div>
        <div class="card-content">
          <span class="card-title green-text text-darken-4">Cheba Chocolate Chip</span>
          <p>
            25mg THC / 2 Cookies – *Vegan and Gluten Free.
          </p>
        </div>
        <div class="card-action">
          <p>$16 ~ Half Dozen</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 row1">
      <div class="card">
        <div class="card-image">
          <img src="https://www.landolakes.com/RecipeManagementSystem/media/Recipe-Media-Files/Recipes/Retail/DesktopImages/12367.jpg?ext=.jpg">
        </div>
        <div class="card-content">
          <span class="card-title green-text text-darken-4">Peanut Butter Kush</span>
          <p>
            25mg THC / 2 Cookies – *Vegan and Gluten Free.
          </p>
        </div>
        <div class="card-action">
          <p>$16 ~ Half Dozen</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 row1">
      <div class="card">
        <div class="card-image">
          <img src="https://i1.wp.com/bakingamoment.com/wp-content/uploads/2016/08/9958featured.jpg?resize=720%2C720&ssl=1">
        </div>
        <div class="card-content">
          <span class="card-title green-text text-darken-4">Sugar Cookies</span>
          <p>
            33mg THC / 2 Cookies – *Vegan and Gluten Free.
          </p>
        </div>
        <div class="card-action">
          <p>$22 ~ Half Dozen</p>
        </div>
      </div>
    </div>
      <%# Row 2 %>
      <div class="col s12 m6 l4 row2">
        <div class="card">
          <div class="card-image">
            <img src="http://www.sweetestkitchen.com/wp-content/uploads/2008/12/snickerdoodles.jpg">
          </div>
          <div class="card-content">
            <span class="card-title green-text text-darken-4">Snickerdoodle Haze</span>
            <p>
              33mg THC / 2 Cookies – *Vegan and Gluten Free.
            </p>
          </div>
          <div class="card-action">
            <p>$22 ~ Half Dozen</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 row2">
        <div class="card">
          <div class="card-image">
            <img src="https://d169bp7fx2b8qn.cloudfront.net/uploads/2014/11/GF-Gingerbread-Cookies-1-600x397.jpg">
          </div>
          <div class="card-content">
            <span class="card-title green-text text-darken-4">Gingerbread OG</span>
            <p>
              40mg THC / 2 Cookies – *Vegan and Gluten Free.
            </p>
          </div>
          <div class="card-action">
            <p>$30 ~ Half Dozen</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 row2">
        <div class="card">
          <div class="card-image">
            <img src="http://www.mypersonaltrainervancouver.com/wp-content/uploads/2012/02/White-Chocolate-Macadamia-Nut-Cookies.png">
          </div>
          <div class="card-content">
            <span class="card-title green-text text-darken-4">Moonrock Macadamia</span>
            <p>
              50mg THC / 2 Cookies – *Vegan and Gluten Free.
            </p>
          </div>
          <div class="card-action">
            <p>$50 ~ Half Dozen</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
