<%# Cookie Header %>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <div class="row center">
      </div>
      <div class="row center">
        <h1 class="header center text-darken-4 main-header">Web Designs</h1> 
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax white"><img src="https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></div>
</div>

<%# Second Section %>
<div class="container">
  <div class="row">
    <div class="col l12">
      <%# Row 1 %>
      <div class="col s12 m6 l4 row1">
        <div class="card">
          <div class="card-image">
            <img src="https://images.pexels.com/photos/440587/pexels-photo-440587.jpeg?auto=compress&cs=tinysrgb&h=350">
          </div>
        <div class="card-content">
          <span class="card-title text-darken-4">Website #1</span>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing.
          </p>
        </div>
        <div class="card-action">
          <p>Desktop/Mobile</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 row1">
      <div class="card">
        <div class="card-image">
          <img src="https://images.pexels.com/photos/933151/pexels-photo-933151.jpeg?auto=compress&cs=tinysrgb&h=350">
        </div>
        <div class="card-content">
          <span class="card-title text-darken-4">Website #2</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing.
          </p>
        </div>
        <div class="card-action">
          <p>Desktop/Mobile</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 row1">
      <div class="card">
        <div class="card-image">
          <img src="https://images.pexels.com/photos/440587/pexels-photo-440587.jpeg?auto=compress&cs=tinysrgb&h=350">
        </div>
        <div class="card-content">
          <span class="card-title text-darken-4">Website #3</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing.
          </p>
        </div>
        <div class="card-action">
          <p>Desktop/Mobile</p>
        </div>
      </div>
    </div>
      <%# Row 2 %>
      <div class="col s12 m6 l4 row2">
        <div class="card">
          <div class="card-image">
            <img src="https://images.pexels.com/photos/933151/pexels-photo-933151.jpeg?auto=compress&cs=tinysrgb&h=350">
          </div>
          <div class="card-content">
            <span class="card-title text-darken-4">Website #4</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing.
            </p>
          </div>
          <div class="card-action">
            <p>Desktop/Mobile</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 row2">
        <div class="card">
          <div class="card-image">
            <img src="https://images.pexels.com/photos/440587/pexels-photo-440587.jpeg?auto=compress&cs=tinysrgb&h=350">
          </div>
          <div class="card-content">
            <span class="card-title text-darken-4">Website #5</span>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing.
            </p>
          </div>
          <div class="card-action">
            <p>Desktop/Mobile</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 row2">
        <div class="card">
          <div class="card-image">
            <img src="https://images.pexels.com/photos/933151/pexels-photo-933151.jpeg?auto=compress&cs=tinysrgb&h=350">
          </div>
          <div class="card-content">
            <span class="card-title text-darken-4">Website #6</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing.
            </p>
          </div>
          <div class="card-action">
            <p>Desktop/Mobile</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
