<div id="faq-section">
<%# FAQ Parallax %>
  <div class="parallax-container valign-wrapper p-overlay">
    <div class="section no-pad-bot p-overlay-width">
      <div class="container center-align">
        <div class="row center">
          <h2>FAQ</h2>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9a027edb5b7b5ef475a0a4441a54b630&auto=format&fit=crop&w=1050&q=80"></div>
  </div>
  <br><br>
  <%# Actual FAQ Section %>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul class="collapsible">
          <li>
            <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Why the name Code 25?</div>
            <div class="collapsible-body">
              <span class="bold">Code 25 comes from the fact that only 25% of venture-backed startups succeed.</span> The statistics that typically separate the top 25 startups from the rest are revenue and traction. After a decade of founding tech startups and executing digital marketing strategies for all kinds of companies, we know what it takes to implement a digital marketing strategy that can put a startup in the top 25%. It’s about generating results, and that’s what drives us. 
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Should I have a digital marketing strategy?</div>
            <div class="collapsible-body">
              This depends completely on what your goals are for your company. If you are fine with settling for slow, tedious progress, then maybe you can do without digital marketing. However, if you want to help your startup reach full fruition and become the next billion dollar company, then <span class="bold">YES</span>, you need a well-constructed and executed digital marketing strategy.  Once you decide that you need a digital marketing strategy, the most important step is to become an expert on how digital marketing works. That’s where we come in.  We know startup founders have little time to get all the things done on their list. Our goal is to strategize with you on how we can implement the perfect marketing strategy for your company and execute it; saving you tons of time and money. 
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>What is the boundary between online, digital and social marketing?</div>
            <div class="collapsible-body">
              <span class="bold">“Online Marketing”</span> refers to website design, PR articles and blogs, SEO (Search Engine Optimization), SEM (Search Engine Marketing), paid ads, email marketing, and more. 
              <br><br>
              <span class="bold">“Social Media Marketing”</span> is mastering the skill of leveraging social media platforms like Twitter, LinkedIn, Instagram, and Facebook to promote your product to billions of people and attracting the ones who are genuinely interested in your value proposition.
              <br><br>
              <span class="bold">“Offline Marketing”</span> consists of print ads, direct mail, telemarketing, attending events, and initiating positive word-of-mouth discussions of your company.
              <br><br>
              Check out this image to make it easier to understand:
              <br>
              <img class="responsive-img materialboxed" src="images/marketing_graphic.png" alt="">
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Digital/Social Media Marketing – What first and what second? Why?</div>
            <div class="collapsible-body">
              Over the last 10 years of working with startups on marketing strategies, <span class="bold">it truly varies</span> depending on your business, and your understanding of social and digital marketing. We've had experience with companies whose digital strategy drove their social media marketing strategies. We've also had experiences with companies whose social media strategy drove their digital initiatives. Suffice to say, the digital world and social world are closely coupled and if you do one, you (and/or the ecosystem you’re a part of – like partners, customers, community, suppliers) also make inroads into the other. <span class="bold">In most cases, Social Media Marketing is typically a sub-set of Digital Marketing.</span>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>What’s the typical marketing budget like for a seed startup, emerging startup, scaling startup?</div>
            <div class="collapsible-body">
              We begin all of our startup engagements with an initial $7,000 review. Typically, startups who want smaller growth goals invest between 3-5k per month in services, and emerging startups invest 6-8k. We also recommend that startups who really want to see growth invest up to 3% equity. We <span class="bold">NEVER</span> take more than 3%! The equity holds us accountable and gives you reassurance that we will do everything possible to get you results. Keep in mind that these are investments, not “purchases". You are investing to get an ROI which is worth millions, and very often billions of dollars. 
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>What are the industry standards for lead conversion from the channels we’ve listed on our website?</div>
            <div class="collapsible-body">
              The only industry standard we pay attention to is the amount of leads companies get, which is 2-3% of traffic. We normally are able to multiply startup leads by <span class="bold">2-3x</span> within 3 months. For more developed startups, we add hundreds of leads, and have helped some of our clients grow revenue by <span class="bold">over 15%</span> by working with them. This is equivalent to millions in closed business, and billions in value.
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Which services will maximize my results while saving the most money possible?</div>
            <div class="collapsible-body">
              <span class="bold">It depends.</span> If you simply want to begin your PR campaign, then our content creation services will be perfect for you. The choice of which social channels to use depends completely on your social media objectives and where your customers are. First, define who your customers are and their ‘customer personas’, then use the power of tools and technology to gather data and insights around which social channels they frequent. Don’t do social because everyone is doing social and because it is the new buzzword. Do it because you believe it will add value to your business and marketing; and enable you to achieve your business objectives. Let us give you a better idea of what would suit you best. <a id="schedule-consult" href="/contact"><span class="bold">Schedule your FREE consultation today!</span></a>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Can any marketer do digital marketing? What are the key skills for success in digital marketing?</div>
            <div class="collapsible-body">
              <span class="bold">Simply, the answer is no.</span> Anyone can learn digital marketing, however, it is a myth to think that every marketer or digital agency is able to implement techniques that deliver effective results.  Just like startups, digital marketing is an art that needs to be thoroughly tested, analyzed, and revised constantly to determine the ideal strategy and sequence of different techniques. That is why it is vitally important to only go with digital agencies you trust and know will be effective.
              <br><br>
              <span class="bold">EFFECTIVE digital marketing requires expertise in multiple areas:</span>
              <br><br>
              <span class="bold">1)</span> Storytelling  <br>
              <span class="bold">2)</span> Visual Design  <br>
              <span class="bold">3)</span> Creativity  <br>
              <span class="bold">4)</span> Internet Presence  <br>
              <span class="bold">5)</span> Patience - results take time, usually 2-3 months before seeing major results  <br>
              <span class="bold">5)</span> Excellent articulation skills (especially written)  <br>
              <span class="bold">6)</span> Understanding and usage of digital marketing tools and technology  <br>
              <span class="bold">7)</span> Love for learning and growth  <br>
              <span class="bold">8)</span> Passion for helping others  <br>
              <span class="bold">9)</span> Mental control - anything said online can either help or hurt your brand value.  In startup world, there is little room for error.  We understand this, so we take a “lean” approach to marketing. We trim the fat of any unnecessary, controversial publicity and only push forward helpful, positive strategies. A conscious and consistent effort to be clued and glued into the latest and greatest is critical to succeed.

            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br><br>
</div>
