<%# Main heading on top of header %>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container ">
      <%# <br><br> %>
      <div class="row center">
        <%# Just Used For Spacing %>
        <h4>Let us help you</h4>
      </div>
      <div class="row center details">
        <%# <h1 class="header center green-text text-darken-4 ytail">Welcome To Paradise!</h1>  %>
        <span id="writing-text"><span>
      </div>
      <div class="row center main-header">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bNpx7gpSqbY?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax home"><img src="https://images.pexels.com/photos/926987/pexels-photo-926987.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></div>
</div>


<%# Our Story %>
<div class="container">
  <div class="row our-story valign-wrapper">
    <section class="col l12">
      <h1 class="center ytail text-darken-4">Our Story</h1>
        <p class="flow-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto nesciunt ad, ut quos hic mollitia reprehenderit est laudantium qui porro.
        </p>   
    </section>
  </div>
</div>

<%# Second Parallax %>
<div class="parallax-container">
  <div class="parallax"><img src="https://images.pexels.com/photos/970204/pexels-photo-970204.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></div>
</div>


<div class="container">
  <div class="section">
    <%# Icons Section %>
    <div class="row">
      <div class="col s12 m4 our-features">
        <div class="icon-block">
          <h2 class="center"><i class="large material-icons text-darken-4">grade</i></h2>
          <h5 class="center ytail text-darken-4">Portfolios</h5>
            <p class="light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi reprehenderit dolore molestias veniam! Atque, architecto.
            </p>
        </div>
      </div>
      <div class="col s12 m4 our-features">
        <div class="icon-block">
          <h2 class="center"><i class="large material-icons text-darken-4">cake</i></h2>
          <h5 class="center ytail text-darken-4">Web Design</h5>
          <p class="light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil vitae mollitia totam natus consequuntur temporibus.
          </p>
        </div>
      </div>
      <div class="col s12 m4 our-features">
        <div class="icon-block">
          <h2 class="center"><i class="large material-icons ext-darken-4">favorite</i></h2>
          <h5 class="center ytail text-darken-4">SEO Writeups</h5>
          <p class="light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quidem voluptate voluptates blanditiis magnam natus.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Third Parallax %>
<div class="parallax-container">
  <div class="parallax home-3"><img src="https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></div>
</div>
