<%# Main heading on top of header %>
<div id="index-banner" class="parallax-container valign-wrapper p-overlay">
  <div class="section no-pad-bot p-overlay-width">
    <div class="container">
      <div class="row center main-header">
        <h1 class="white-text">Create and Convert Leads for Your B2B Startup</h1>
        <p class="white-text">Increase web traffic by 50 % within 60 days, guaranteed!</p>
        <br>
        <a href="/contact" class="btn waves-effect waves-light">Learn More</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax home"><img src="https://images.pexels.com/photos/926987/pexels-photo-926987.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></div>
</div>


<%# Our Story %>
<div class="container">
  <div class="row block valign-wrapper">
    <section class="col l12">
      <h3 class="center-align">What is Code 25?</h3>
      <p id="story flow-text">
        <span class="bold">25 out of every 100 venture-backed startups succeed.</span> As serial entrepreneurs and founders of B2B startups with successful million-dollar exits, we at Code 25 know that the two things that matter most in the startup world are extremely difficult to achieve: <span class="bold">Revenue & Traction</span>. Code 25 helps emerging B2B startups generate enterprise leads and convert them into customers. After rigorous testing and careful design, we have optimized the digital marketing code to the top 25%.<span class="bold"> All of our clients increase traction and ROI within 60 days.</span>
      </p>   
    </section>
  </div>
</div>

<%# Second Parallax %>
<div class="parallax-container valign-wrapper p-overlay">
  <div class="section no-pad-bot p-overlay-width">
    <div class="container center-align">
      <div class="row center">
        <h2>We Deliver Results,<br> Period.</h2>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://images.pexels.com/photos/970204/pexels-photo-970204.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></div>
</div>

<%# Result %>
<div class="container">
  <div class="row block valign-wrapper">
    <section class="col l12">
      <h3 class="center-align">Time Is More Than Money!</h3>
      <p id="story ">
        <span class="bold">So much to do, so little time!</span> As a startup founder, it's exceedingly difficult keeping up with constantly changing marketing tactics, managing a vendor for content, another vendor for social media, somebody to run SEO, etc.<span class="hide-on-small-only"> Or worse - you're already juggling corporate sponsorships, throwing PR events, and working with 4 or 5 marketing vendors.</span>
        <br><br>
        <span class="bold">Code 25 handles it all for you!</span><span class="hide-on-small-only"> - giving you an all-in-one marketing team that brings your startup new customers, or manages your current team to help them hit their lead goals.</span> Don't just take our word for it, <span class="bold">click below</span> to read about some of our big wins.
        <br><br>
        <a href="/case-studies" class="btn waves-effect waves-light right">Read More</a>  
      </p> 
    </section>
  </div>
</div>


<%# Third Parallax %>
<div class="parallax-container valign-wrapper p-overlay">
  <div class="section no-pad-bot p-overlay-width">
    <div class="container center-align">
      <div class="row center">
        <h2>What To Expect</h2>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://images.pexels.com/photos/590045/pexels-photo-590045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></div>
</div>


<div class="container">
  <%# Icons Section %>
  <div class="row">
    <div class="col s12 m6 l3 our-features">
      <div class="icon-block">
        <h2 class="center"><img class="icon" src="images/icons/income.png"></h2>
        <h5 class="center ytail"><span class="bold">Brand Growth</span></h5>
          <p class="light center-align">
            Communicate with your target audience thoroughly and share your story. Build trust and let your customers know your company is the best solution out there.
          </p>
      </div>
    </div>
    <div class="col s12 m6 l3 our-features">
      <div class="icon-block">
        <h2 class="center"><img class="icon" src="images/icons/filter.png"></h2>
        <h5 class="center ytail text-darken-4"><span class="bold">More Leads</span></h5>
        <p class="light center-align">
          As a startup, the only things that matter are revenue & traction. Our clients see substantial increases in the number of inbound leads they receive. Some have quadrupled their number of inbound leads within 2 months.
        </p>
      </div>
    </div>
    <div class="col s12 m6 l3 our-features">
      <div class="icon-block">
        <h2 class="center"><img class="icon" src="images/icons/clock.png"></h2>
        <h5 class="center ytail text-darken-4"><span class="bold">Save Time</span></h5>
        <p class="light center-align">
          Spend less than 3 hours a week handling anything to do with marketing! Outside of our periodic strategy phone calls, you can trust us to handle everything else. Give us a KPI goal, and we will reach it.
        </p>
      </div>
    </div>
    <div class="col s12 m6 l3 our-features">
      <div class="icon-block">
        <h2 class="center"><img class="icon" src="images/icons/graph.png"></h2>
        <h5 class="center ytail text-darken-4"><span class="bold">Drive Traffic</span></h5>
        <p class="light center-align">
          Our clients can expect at least a 50% - 100% increase in traffic within two months of starting. We have had clients gain as much as 700% traffic within a week.
        </p>
      </div>
    </div>
  </div>
</div>


<%# Fourth Parallax %>
<div class="parallax-container valign-wrapper p-overlay">
  <div class="section no-pad-bot p-overlay-width">
    <div class="container center-align">
      <div class="row center">
        <h2>Ready To Go To The Next Level?</h2>
      </div>
      <a href="/contact" class="btn waves-effect waves-light">Start Now</a>
    </div>
  </div>
  <div class="parallax home-3"><img src="https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></div>
</div>
