<%# Main heading on top of header %>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container main-header">
      <br><br>
      <div class="row center">
        <%# Just Used For Spacing %>
      </div>
      <div class="row center">
        <h1 class="header center green-text text-darken-4 ytail">Welcome To Paradise!</h1> 
      </div>
      <div class="row center">
        <h5 class="header col s12 light hide-on-small-only">Where Cannabis & Confections Meet!</h5>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax home"><img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/zblwSNT/cookies-falling-down-on-white-background_vfgywntvg__F0000.png"></div>
</div>


<%# Our Story %>
<div class="container">
  <div class="row our-story valign-wrapper">
    <section class="col l12">
      <h1 class="center ytail green-text text-darken-4">Our Story</h1>
        <p class="flow-text">
          Mary Jane’s Bakery began in 2012 as a small, family-owned cannabis edibles bakery in Anaheim, California. We are dedicated to producing a high quality, cannabis infused edible, that is why each one of our products are made with the purest and finest ingredients available. We use Guittard chocolates, organic coconut oil, homemade granola, other natural ingredients and absolutely no preservatives or artificial additives. All our products are made from scratch; no pre-made shortcuts here!
        </p>   
    </section>
  </div>
</div>

<%# Second Parallax %>
<div class="parallax-container">
  <div class="parallax"><img src="http://otona-manga.info/wp-content/uploads/2017/12/strawberry-birthday-cakes-vanilla-strawberry-birthday-cake-221-pieces-jigsaw-puzzle-toping.jpg"></div>
</div>


<div class="container">
  <div class="section">
    <%# Icons Section %>
    <div class="row">
      <div class="col s12 m4 our-features">
        <div class="icon-block">
          <h2 class="center"><i class="large material-icons green-text text-darken-4">grade</i></h2>
          <h5 class="center ytail green-text text-darken-4">Premium Quality</h5>
            <p class="light">
              From the cannabis all the way down to the flour, we take pride in using all plant based ingredients for our delicious treats sourced locally from farms in San Bernandino County.
            </p>
        </div>
      </div>
      <div class="col s12 m4 our-features">
        <div class="icon-block">
          <h2 class="center"><i class="large material-icons green-text text-darken-4">cake</i></h2>
          <h5 class="center ytail green-text text-darken-4">Catering Done Right</h5>
          <p class="light">
            Birthdays, holidays, graduations. You name it and Mary Jane's Bakery has you covered with the perfect cannabis infused treats to make your event unforgetable!
          </p>
        </div>
      </div>
      <div class="col s12 m4 our-features">
        <div class="icon-block">
          <h2 class="center"><i class="large material-icons green-text text-darken-4">favorite</i></h2>
          <h5 class="center ytail green-text text-darken-4">Supporring A Bigger Cause</h5>
          <p class="light">
            When you shop with Mary Jane's Bakery a portion of the proceeds are allocated towards helping the families of those adversely affected by the "War on Drugs".
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Third Parallax %>
<div class="parallax-container">
  <div class="parallax"><img src="http://static1.squarespace.com/static/52fd0e16e4b012d3649050e8/55e73509e4b04afd122f945f/5551262be4b015fc1acf233d/1462307930944/?format=1000w"></div>
</div>
