  <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>


<div class="container">
        <div class="row">
          <section class="col l12">
            <h1>Our Story</h1>
            <p>
              Mary Jane’s Bakery began in 2012 as a small, family-owned cannabis edibles bakery in Anaheim, California. We are dedicated to producing a high quality, cannabis infused edible, that is why each one of our products are made with the purest and finest ingredients available. We use Guittard chocolates, organic coconut oil, homemade granola, other natural ingredients and absolutely no preservatives or artificial additives. All our products are made from scratch; no pre-made shortcuts here!
            </p>
            <p>
              <form action="/contact" method="POST" class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <%# <input name="first_name" id="first_name" type="text" class="validate"> %>
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <%# <input name="last_name" id="last_name" type="text" class="validate"> %>
                    <label for="last_name">Last Name</label>
                  </div>
                </div>        
                <div class="row">
                  <div class="row">
                    <div class="input-field col s12">
                      <%# <textarea name="content" id="content" class="materialize-textarea"></textarea> %>
                      <label for="content">Message</label>
                    </div>
                  </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Submit
                  <i class="material-icons right">send</i>
                </button>
              </form> 
            </p>
          </section>
        </div>
      </div>