  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
      <link rel="stylesheet" href="css/main.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <header>
        <nav>
          <div class="nav-wrapper">
            <img src="images/logo.png" class="brand-logo" id="logo" alt="" srcset="">
            <%# <a href="#" class="brand-logo">Logo</a> %>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right green-text text-darken-4"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a class="green-text text-darken-4" href="sass.html">Cookies</a></li>
              <li><a class="green-text text-darken-4" href="badges.html">Cakes</a></li>
              <li><a class="green-text text-darken-4" href="collapsible.html">Muffins</a></li>
              <li><a class="green-text text-darken-4" href="collapsible.html">Newsletter</a></li>
            </ul>
          </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
          <li><a class="green-text text-darken-4" href="sass.html">Cookies</a></li>
          <li><a class="green-text text-darken-4" href="badges.html">Cakes</a></li>
          <li><a class="green-text text-darken-4" href="collapsible.html">Muffins</a></li>
          <li><a class="green-text text-darken-4" href="collapsible.html">Newsletter</a></li>
        </ul>
        <%# <div class="container">
          <div class="row">
            <section class="col l12">
              <h1>McDonalds Vs Wendys<h1>
            </section>
          </div>
        </div> %>
      </header>

      <div class="container">
        <div class="row">
          <section class="col l12">
            <h3>Submit your opinion about the 2109 elections!</h3>
            <p>
              Hi voter, we're collecting data on what the general public think of the two major parties running in the 2109 elections
            </p>
            <p>
              <form action="/contact" method="POST" class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input name="first_name" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <input name="last_name" id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>        
                <div class="row">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea name="content" id="content" class="materialize-textarea"></textarea>
                      <label for="content">Message</label>
                    </div>
                  </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Submit
                  <i class="material-icons right">send</i>
                </button>
              </form> 
            </p>
          </section>
        </div>
      </div>


      <%= yield %>
      <footer>
        <div class="container">
          <div class="row">
            <section class="col l12">
              <p>Copyright 2018</p>
            </section>
          </div>
        </div>
      </footer>
      <!--JavaScript at end of body for optimized loading-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      <script src="js/main.js"></script>
    </body>
  </html>
        