<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Yellowtail" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <header>
      <%# Nav Bar & Hidden Side Nav Bar %>
      <nav>
        <div class="nav-wrapper z-depth-4">
          <a href="/"> <img src="images/logo.png" class="brand-logo" id="logo" alt="" srcset=""> </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right green-text text-darken-4"><i class="large material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="green-text text-darken-4" href="/cookies">Cookies</a></li>
            <li><a class="green-text text-darken-4" href="/cakes">Cakes</a></li>
            <li><a class="green-text text-darken-4" href="/muffins">Muffins</a></li>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        <li><a class="green-text text-darken-4" href="/cookies">Cookies</a></li>
        <li><a class="green-text text-darken-4" href="/cakes">Cakes</a></li>
        <li><a class="green-text text-darken-4" href="/muffins">Muffins</a></li>
        <li><a class="green-text text-darken-4" href="/newsletter">Newsletter</a></li>
      </ul>
    </header>


    <%= yield %>

    
    <%# Top Part of Footer %>
    <footer class="page-footer z-depth-4">
      <div class="container green-text text-darken-4">
        <div class="row">
          <div class="col l4 s12 center-align">
            <%# Contact Info %>
            <h5 class="ytail">Get In Touch!</h5>
            <p class="grey-text text-lighten-4">
              <ul>
                <li>Mary Jane's Bakery</li>
                <li>1111 N Magnolia Ave</li>
                <li>Anaheim, CA 92801</li>
                <li><i class="tiny material-icons">phone</i>: (714)-309-4134</li>
                <li>Mon - Fri: 10AM - 8PM</li>
                <li>Sat & Sun: 10AM - 2PM</li>
              </ul>
            </p>
          </div>
          <%# Newsletter %>
          <div class="col l6 offset-l2 hide-on-med-and-down">
            <form action="/contact" method="POST" class="col l12">
              <h5 class="ytail">Newsletter</h5>
              <div class="row">
                <div class="input-field col l6">
                  <input name="first_name" id="first_name" type="text" class="validate">
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col l6">
                  <input name="last_name" id="last_name" type="text" class="validate">
                  <label for="last_name">Last Name</label>
                </div>
              </div>      
              <div class="row">
                <div class="input-field col l12">
                  <input name="email" id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
              <button id="submitBtn" class="btn waves-effect waves-light right" type="submit">Submit
                <i class="material-icons right">send</i>
              </button>
            </form> 
          </div>
        </div>
      </div>
      <%# Lower Part of Footer %>
      <div class="footer-copyright">
        <div class="container green-text text-darken-4">
          <div class="row">
            <div class="col l4 s8">
              © 2018 Mary Jane's Bakery
            </div>
            <div class="col l6 offset-l2 s4">
              <button id="backToTop" class="waves-effect waves-light btn-flat right" href="#logo"><i class="material-icons right">vertical_align_top</i>Top</button>
          </div>
        </div>
      </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
        