<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Michroma|Montserrat" rel="stylesheet">
    <link rel="icon" href="/images/25_tp.png">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <header>
      <%# Nav Bar & Hidden Side Nav Bar %>
      <nav>
        <div class="nav-wrapper z-depth-4">
          <a href="/"> <img src="images/c25_tp.png" class="brand-logo hide-on-med-and-down" id="logo" alt="" srcset=""> </a>
          <a href="/"> <img src="images/25_tp.png" class="brand-logo hide-on-large-only" id="logo2" alt="" srcset=""> </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="large material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">About<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Services<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <!-- Dropdown Structure 1 -->
      <ul id="dropdown1" class="dropdown-content">
        <%# <li><a href="/our-team">Our Team</a></li> %>
        <li class="divider"></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
      <!-- Dropdown Structure 2 -->
      <ul id="dropdown2" class="dropdown-content">
        <%# <li><a href="/lead-gen">Lead Gen</a></li> %>
        <li class="divider"></li>
        <li><a href="/web-design">Web Dev + Design</a></li>
        <li class="divider"></li>
        <%# <li><a href="/content">Content Writing</a></li> %>
        <li class="divider"></li>
        <li><a href="/case-studies">Case Studies</a></li>
      </ul>
      <!-- SideNav Structure -->
      <ul class="sidenav" id="mobile-demo">
        <li><div class="user-view center-align">
          <a href="/"> <img id="sidenavLogo" src="images/c25_tp.png"> </a>
        </div></li>
        <li><ul class="collapsible">
            <li>
            <div class="collapsible-header">About</div>
            <div class="collapsible-body">
              <ul>
                <li><a href="/our-team">Our Team</a></li>
                <li><a href="/faq">FAQ</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Services</div>
            <div class="collapsible-body">
              <ul>
                <%# <li><a href="/lead-gen">Lead Gen</a></li> %>
                <li><a href="/web-design">Web Dev + Design</a></li>
                <%# <li><a href="/content">Content Writing</a></li> %>
                <li><a href="/case-studies">Case Studies</a></li>
              </ul>
            </div>
          </li>
        </ul></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </header>


    <%= yield %>

    
    <%# Top Part of Footer %>
    <footer class="page-footer z-depth-4">
      <div class="container">
        <div class="row">
          <div class="col s12 m4  center-align">
            <%# Contact Info %>
            <h5 class="ytail">About</h5>
            <p>
              <ul>
                <li><a href="/our-team">Our Team</a></li>
                <li><a href="/faq">FAQ</a></li>
              </ul>
            </p>
          </div>
          <div class="col s12 m4  center-align">
            <%# Contact Info %>
            <h5 class="ytail">Services</h5>
            <p>
              <ul>
                <%# <li><a href="/lead-gen">Lead Gen</a></li> %>
                <li><a href="/web-design">Web Dev + Design</a></li>
                <%# <li><a href="/content">Content Writing</a></li> %>
                <li><a href="/case-studies">Case Studies</a></li>
              </ul>
            </p>
          </div>
          <div class="col s12 m4  center-align">
            <%# Contact Info %>
            <h5 class="ytail">Contact</h5>
            <p>
              <ul>
                <li><a href="/contact">Contact Us</a></li>
                <li><i class="tiny material-icons">phone</i>: (410)-469-8651</li>
                <li>Mon-Fri: 10AM - 10PM</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <%# Lower Part of Footer %>
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col l4 s8">
              © 2018 Code 25. All rights reserved.
            </div>
            <div class="col l6 offset-l2 s4">
              <button id="backToTop" class="waves-effect waves-light btn-flat right" href="#logo"><i class="material-icons right">vertical_align_top</i>Top</button>
          </div>
        </div>
      </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <%# <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.8/typed.min.js" charset="utf-8"></script> %>
    <script src="js/materialize.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
        