<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <%# <h1 class="header center green-text text-darken-4">Welcome To Paradise!</h1> %>
        <div class="row center">
          <%# <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> %>
        </div>
        <div class="row center">
        <h1 class="header center green-text text-darken-4 main-header">Muffins</h1> 
          <%# <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> %>
        </div>
        <br><br>

      </div>
    </div>
      <div class="parallax"><img src="https://www.ambitiouskitchen.com/wp-content/uploads/2013/08/1-IMG_0820.jpg"></div>
    <%# <div class="parallax"><img src="" alt="Unsplashed background img 1"></div> %>
  </div>




  <div class="container">
    <div class="row">
      <div class="col l12">
        
        <%# <div class="row"> %>
          <div class="col s12 m6 l4 row1">
            <div class="card">
              <div class="card-image">
                <img src="http://cdn-image.myrecipes.com/sites/default/files/styles/medium_2x/public/image/recipes/ck/11/05/chocolate-chip-muffins-ck-x.jpg?itok=vrhidPkC">
              </div>
              <div class="card-content">
              <span class="card-title green-text text-darken-4">Chocolate Diesel</span>
                <p>
                  25mg THC / 2 Muffins – *Vegan and Gluten Free.
                </p>
              </div>
              <div class="card-action">
                <p>$16 ~ Half Dozen</p>
              </div>
            </div>
          </div>
        <%# </div> %>


          <div class="col s12 m6 l4 row1">
            <div class="card">
              <div class="card-image">
                <img src="http://marlenekoch.com/wp-content/uploads/muffin.jpg">
              </div>
              <div class="card-content">
              <span class="card-title green-text text-darken-4">Blue Dragon</span>
                <p>
                  25mg THC / 2 Muffins – *Vegan and Gluten Free.
                </p>
              </div>
              <div class="card-action">
                <p>$16 ~ Half Dozen</p>
              </div>
            </div>
          </div>



          <div class="col s12 m6 l4 row1">
            <div class="card">
              <div class="card-image">
                <img src="http://assets.kraftfoods.com/recipe_images/opendeploy/115951_640x428.jpg">
              </div>
              <div class="card-content">
              <span class="card-title green-text text-darken-4">Banana Kush</span>
                <p>
                  32mg THC / 2 Muffins – *Vegan and Gluten Free.
                </p>
              </div>
              <div class="card-action">
                <p>$25 ~ Half Dozen</p>
              </div>
            </div>
          </div>



          <div class="col s12 m6 l4 row2">
            <div class="card">
              <div class="card-image">
                <img src="http://www.preparedpantry.com/images/Full-AppleCinnNutMuffins.jpg">
              </div>
              <div class="card-content">
              <span class="card-title green-text text-darken-4">Candy Apple</span>
                <p>
                  25mg THC / 2 Muffins – *Vegan and Gluten Free.
                </p>
              </div>
              <div class="card-action">
                <p>$25 ~ Half Dozen</p>
              </div>
            </div>
          </div>





          <div class="col s12 m6 l4 row2">
            <div class="card">
              <div class="card-image">
                <img src="http://nourishedsimply.com/wp-content/uploads/2014/12/cranberry-orange-muffin-single.jpg">
              </div>
              <div class="card-content">
              <span class="card-title green-text text-darken-4">Cranberry Craze</span>
                <p>
                  36mg THC / 2 Muffins – *Vegan and Gluten Free.
                </p>
              </div>
              <div class="card-action">
                <p>$32 ~ Half Dozen</p>
              </div>
            </div>
          </div>



          <div class="col s12 m6 l4 row2">
            <div class="card">
              <div class="card-image">
                <img src="https://img.sndimg.com/food/image/upload/w_555,h_416,c_fit,fl_progressive,q_95/v1/img/recipes/21/59/7/picstcyOO.jpg">
              </div>
              <div class="card-content">
              <span class="card-title green-text text-darken-4">Cinnamon Shock</span>
                <p>
                  36mg THC / 2 Muffins – *Vegan and Gluten Free.
                </p>
              </div>
              <div class="card-action">
                <p>$32 ~ Half Dozen</p>
              </div>
            </div>
          </div>


</div>
    </div>
  </div>