<%# Newsletter %>
<div class="newsletter">
  <div class="container text-darken-4">
    <div class="row">
      <div class="col s12">
        <form action="/contact" method="POST" class="col l12">
          <h5 class="ytail">Get In Touch!</h5>
          <div class="input-field col s12">
            <input name="name" id="name" type="text" class="validate" required>
            <label for="name">Name</label>
          </div> 
          <div class="input-field col s12">
            <input name="email" id="email" type="email" class="validate" required>
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <input name="message" id="message" type="text" class="validate" required>
            <label for="message">Message</label>
          </div>    
          <button class="btn waves-effect waves-light right" type="submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </form> 
      </div>
    </div>
  </div>
</div>