<div class="newsletter">
  <div class="container green-text text-darken-4">
    <div class="row">
      <div class="col s12 center-align">
        <h1>Thanks For Your Submission </h1>
          <p class="flow-text">
            You'll be receiving an email shortly!
          </p>             
      </div>
    </div>
  </div>
</div>