<br><br><br>

<div class="newsletter">
  <div class="container text-darken-4">
    <div class="row">
      <div class="col s12 center-align">
        <h1>Thanks for Getting in Touch</h1>
          <p class="flow-text">
            We typically respond to messages within 1 business day!
          </p>             
      </div>
    </div>
  </div>
</div>