<%# Web Design Parallax %>
<div class="parallax-container valign-wrapper p-overlay">
  <div class="section no-pad-bot p-overlay-width">
    <div class="container center-align">
      <div class="row center">
        <h2>Web Development + Design</h2>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://images.unsplash.com/photo-1426024120108-99cc76989c71?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=700677971d0cfca5eae85a054e190b43&auto=format&fit=crop&w=1506&q=80"></div>
</div>

<%# Second Section %>
<div class="container">
  <div class="row center-align">
    <br>
    <h2>Great Websites, Simple & Easy</h2>
    <br>
    <div class="col s12 m4 web-dev-feature">
      <img src="/images/icons/ux.png" alt="" class="webdev-img">
      <br><br>
      <h4><span class="bold">Effective Design</span></h4>
      <br>
      Get your message across with intuitive and effective design!
      <br>
    </div>
    <div class="col s12 m4 web-dev-feature">
      <img src="/images/icons/responsive.png" alt="" class="webdev-img">
      <br><br>
      <h4><span class="bold">Mobile Responsive</span></h4>
      <br>
      Your site will look great on screens of all sizes!
    </div>
    <div class="col s12 m4 web-dev-feature">
      <img src="/images/icons/tech-support.png" alt="" class="webdev-img">
      <br><br>
      <h4><span class="bold">Maintenance</span></h4>
      <br>
      Let us handle the small stuff so you can focus on what's important!
    </div>   
  </div>

  <div class="row center-align">
    <br>
    <h2>Our Packages</h2>
    <p class="package-disclaimer">
      <em>
        * Our packages are meant to give people an idea of how much one of our websites could cost. <br>
        All packages and prices listed are subject to change depending on the size of the project. *
      </em>
    </p>
  </div>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#maintenance">Maintenance</a></li>
        <li class="tab col s3"><a href="#landing-page">Landing Page</a></li>
        <li class="tab col s3"><a href="#basic">Basic</a></li>
        <li class="tab col s3"><a href="#premium">Premium</a></li>
      </ul>
    </div>
    <div id="maintenance" class="col s12 center-align">
      <h5>Maintenance Package</h5>
      <span class="bold">$250-$500 / monthly</span>
      <p>
      Delivery Time: <br>
      <span class="bold">Monthly</span>
      </p>
      <p>
        <ul>
          <li>Features:</li>
          <li class="feat-descr">Debugging</li>
          <li class="feat-descr">Small style changes</li>
          <li class="feat-descr">Image swaps</li>
          <li class="feat-descr">Server/Database Maintenance</li>
          <li class="feat-descr">Product Maintenance</li>
          <li class="feat-descr">SSL Security</li>
        </ul>
      </p>
    </div>
    <div id="landing-page" class="col s12 center-align">
      <h5>Landing Page Package</h5>
      <span class="bold">$1,500</span>
      <p>
      Delivery Time: <br>
      <span class="bold">Up to 1 week</span>
      </p>
      <p>
        <ul>
          <li>Features:</li>
          <li class="feat-descr">One Page Site (Equivalent of a flyer/poster)</li>
          <li class="feat-descr">1 Image</li>
          <li class="feat-descr">1 Paragraph description</li>
          <li class="feat-descr">1 link to an external site</li>
        </ul>
      </p>
    </div>
    <div id="basic" class="col s12 center-align">
      <h5>Basic Package</h5>
      <span class="bold">$5,000-$15,000</span>
      <p>
      Delivery Time: <br>
      <span class="bold">Up to 2 months</span>
      </p>
      <p>
        <ul>
          <li>Features:</li>
          <li class="feat-descr">
            Business Information <br>
            1. About Us <br>
            2. Services Offered <br>
            3. Contact Information (email, phone number, google map location, etc.)
          </li>
          <li class="feat-descr">Image Gallery</li>
          <li class="feat-descr">Links to business’ social media pages</li>
          <li class="feat-descr">Facebook messenger chat</li>
          <li class="feat-descr">Instagram feed</li>
          <li class="feat-descr">
          Blog Posts <br>
          * Includes Client login to upload and manage all posts
          </li>
          <li class="feat-descr">Restaurant Menu (pdf)</li>
          <li class="feat-descr">1 - 10 product eCommerce site with paypal checkout</li>
        </ul>
      </p>
    </div>
    <div id="premium" class="col s12 center-align">
      <h5>Premium Package</h5>
      <span class="bold">$15,000+</span>
      <p>
      Delivery Time: <br>
      <span class="bold">Based upon scope of project</span>
      </p>
      <p>
        <ul>
          <li>Features:</li>
          <li class="feat-descr">**All features from Basic package included**</li>
          <li class="feat-descr">eCommerce site with Square/Stripe/Paypal payment processor</li>
          <li class="feat-descr">Appointment/Reservation Bookings</li>
          <li class="feat-descr">CRM</li>
          <li class="feat-descr">Online food delivery orders</li>
          <li class="feat-descr">Multiple user types</li>
          <li class="feat-descr">SEO</li>
          <li class="feat-descr">Search bar</li>
        </ul>
      </p>
    </div>
  </div>

</div>
<br><br>
