body {
  background-color: black;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #d9d9d9;
  box-shadow: 2px 2px gray;
}


/* Nav Bar Styling */
/* .text-darken-4{
  color: #265557;
} */
nav {
  height: 70px;
  background-color: black;
  font-family: 'Michroma', sans-serif;
}

nav ul a {
  font-size: 1rem;
  color: #d9d9d9;
}

nav ul a:hover {
  background-color: #FE501D;
  color: #d9d9d9;
}

#nav-mobile {
  animation: fadeInDown;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

.sidenav-trigger.right {
  animation: fadeInRight;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  color: #d9d9d9;
}

.sidenav-trigger.right:hover {
  color: #FE501D;
}

.sidenav{
  background: black;
}

.sidenav li a {
  font-family: 'Michroma', sans-serif;
  font-size: 1rem;
  color: #d9d9d9;
}

.sidenav li a:hover {
  background-color: #FE501D;
  color: #d9d9d9;
}

div.user-view{
  margin: 0 !important; 
}

#sidenavLogo{
  height: 100px;
}

#nav-mobile {
  margin: 3px 3px 0px 0px;
}

#logo {
  height: 100%;
  width: 75px;
  margin-left: 15px;
  animation: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

#logo2 {
  height: 100%;
  width: 70px;
  animation: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

ul#dropdown1.dropdown-content:active, ul#dropdown1.dropdown-content{
  position: absolute;
  z-index: 9999;
}

#index-banner{
  position: relative;
  /* opacity: 0.99; */
}


/* Home Page Parallax */
.parallax-container{
  height: 623.5px; 
}

.parallax-container .home {
  height: 540px;
}

.parallax.home-3{
  margin-right: 150px;
}

.p-overlay-width{
  width: 100%;
}

.home2{
  color: #265557;
}
/* 
.home-container{
  padding: 80px;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container2{
  padding: 180px;
} */


/* Pages Styling */
.acc-text{
  color: #FE501D;
}

.p-overlay{
  background: rgba(0, 0, 0, 0.600);
}

.icon{
  height: 60px;
  width: 60px;
}
.header.center.text-darken-4.ytail {
  font-family: 'Michroma', sans-serif;
  font-size: 7rem;
}
.header.center.text-darken-4 {
  font-family: 'Michroma', sans-serif;
  font-size: 7rem;
}
h1.center.ytail {
  font-family: 'Michroma', sans-serif;
  font-size: 5rem;
}
.ytail {
  font-family: 'Michroma', sans-serif;
  font-size: 2.5rem;
}
.center.ytail {
  font-family: 'Michroma', sans-serif;
  font-size: 1.7rem;
}

.newsletter {
  background:azure;
  height: 360px;
  animation: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1.55s;
}

.row1 {
  opacity: 0;
}

.row2 {
  opacity: 0;
}

.bold{
  font-weight: 900;
  color: #FE501D;
}

#story{
  padding-left: 63.3px;
  padding-right: 63.3px;
  font-size: 1.5rem;
}


/* Footer Styling */
.page-footer {
  background-color: black;
  box-shadow: 2px 2px;
}

.page-footer a {
  color: inherit;
}

.page-footer a:hover {
  filter: saturate(800%);
}

.waves-effect {
  color: white;
}

.input-field>label {
  color: #265557;
}

input[type=text]:not(.browser-default), input[type=email]:not(.browser-default) {
  border-bottom: 1px solid #265557;
}

input[type=text]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #265557;
  box-shadow: 0 1px 0 0 #265557;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label , input[type=email]:not(.browser-default):focus:not([readonly])+label {
  color: #265557;
}

.btn, .btn:focus {
  background: black;
  border: 1px solid #FE501D;
  color: #d9d9d9;
  font-family: 'Michroma', sans-serif;
}

.btn:hover {
  background: #FE501D;
  border: 1px solid black;
}



/* Home Page Styling */
.block {
  height: 500px;
}

.main-header {
  opacity: 0;
  color: #265557;
  animation: fadeInUp;
  animation-fill-mode: forwards;
  animation-duration: 1.55s;
}

.our-story {
  opacity: 0;
}

.our-features {
  opacity: 0;
}


/* Card Styling */
.card .card-image img {
  height: 225px;
}


/* Cakes Parallax */ 
.parallax-container .cakes {
  height: 350px;
}

.card-title.text-darken-4 {
  font-family: 'Michroma', sans-serif;
  font-size: 2rem;
}
   

/* Keyframes */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}  

@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-100%);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}  

@keyframes fadeInRight {
  0% {
     opacity: 0;
     transform: translateX(100%);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}  

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-100%);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
     opacity: 0;
     transform: translateY(100%);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(-35deg);
  }
  75% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.fadeIn {
  animation: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1.55s;
}

.fadeInLeft {
  animation: fadeInLeft;
  animation-fill-mode: forwards;
  animation-duration: 1.55s;
}

.fadeInRight {
  animation: fadeInRight;
  animation-fill-mode: forwards;
  animation-duration: 1.55s;
}

.fadeInDown {
  animation: fadeInDown;
  animation-fill-mode: forwards;
  animation-duration: 1.55s;
}

.fadeInUp {
  animation: fadeInUp;
  animation-fill-mode: forwards;
  animation-duration: 1.55s;
}